<p>
  If you'd like to receive an email for the next 
  Zoom Zoom Drawing Club (which I host monthly), 
  you can sign up for the
  mailing list here:
</p>

<form
  id="buttondown-form"
  action="https://buttondown.com/api/emails/embed-subscribe/mrshawnliu"
  method="post"
  class="embeddable-buttondown-form"
>
  <input type="email" name="email" required id="email-field" placeholder="you@example.com" />
  <input type="hidden" value="1" name="embed" />
  <input type="submit" value="Subscribe" />
</form>
