@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,500;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

@mixin transition($tr) {
  -webkit-transition: $tr;
  -moz-transition: $tr;
  transition: $tr;
}

/* reset */
html {margin:0;padding:0;border:0;}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
ul, li {margin:0;padding:0;list-style: none}

*, ::before, ::after {
  box-sizing: border-box;
}

:root {
  --color-white: #fff;
  --color-pink: rgb(255, 181, 252);
  --color-bg: #f3f3f3;
  --color-post-border: #ddd;
  --color-hr: #ccc;
  --color-txt: rgb(35, 28, 51);
  --color-txt-link: #a221c2;
  --color-txt-meta: #888;
  --font-size-base: 10px;
  --font-size-XS: 1.1rem;
  --font-size-S: 1.4rem;
  --font-size-M: 1.6rem;
  --font-size-L: 2rem;
  --font-size-XL: 3rem;
  --font-size-XXL: 3.6rem;
  --post-padding: 1.2em;
  --post-margin: 1.2em;
  --width-login: 30rem;
  --width-comments: 54rem;
  --width-content: 60rem;
  --padding-bottom: 4rem;
  --padding-content: 8px;
}

@media (min-width: 60em) {
  :root {
    --font-size-XS: 1.2rem;
    --font-size-S: 1.4rem;
    --font-size-M: 1.6rem;
    --font-size-L: 2rem;
    --font-size-XL: 3.5rem;
    --font-size-XXL: 4.6rem;
  }
}

html {
  font-size: var(--font-size-base);
}

body {
  font-family: 'Roboto Mono', Courier, monospace;
  background-color: var(--color-bg);
  font-size: var(--font-size-M);
  font-weight: 300;
  line-height: 1.6;
}

img {
  width: 100%;
}

a {
  color: #333;
  &:hover {
    text-decoration: none;
  }
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

p {
  margin: 1em 0;
}

hr {
  border: 1px solid var(--color-hr);
  margin: 1.6em 0;
}

h1 {
  font-size: var(--font-size-XL);
  line-height: 1.4;
  font-weight: 800;
  margin: 1em 0;
  &.home {
    font-size: var(--font-size-XXL);
  }
  &.with-meta {
    margin-top: 3px;
  }
}

.noshow {
  display: none;
}

/* styles specifically for the ig-links page */
.ig-links {
  h1 {
    margin: 1em 0;
    line-height: 1.1em;
  }
  .link-chunk {
    margin: 1em 0;
    h2 {
      font-weight: 700;
      margin: 2em 0 1em 0;
    }
    a {
      font-weight: 700;
    }
    ul {
      margin: 1em 0 1em 1em;
      li {
        list-style: disc;
        margin: 0.8em 0;
      }
    }
  }
}

ul {
  margin: 1em 0;
}

.simple-nav {
  font-size: var(--font-size-S);
  .unicode {
    font-family: initial;
    font-size: 1.2em;
  }
}

@media (min-width: 600px) {
  .home-divs {
    column-gap: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.posts-list {
  .post-meta {
    font-size: 100%;
    color: #aaa;
  }
}

.content {
  padding: 1em;
  margin: 0 auto;
  max-width: var(--width-content);
}

.post-meta {
  color: var(--color-txt-meta);
  font-size: var(--font-size-S);
}

.nav-back {
  margin: 0 0 2em 0;
  a {
    color: var(--color-txt-meta);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.top10 {
  li {
    margin: 1em 0;
    display: flex;
    >*:first-child {
      flex-shrink: 0;
      width: 200px;
    }
  }
}

.footer-symbol {
  font-size: 2em;
  margin: 2em 0;
}

.zoomzoom {
  img {
    width: auto;
    max-width: 100%;
  }
  .reference-photos {
    li {
      margin: 4em 0;
      span {
        font-size: 0.8em;
      }
    }
  }
}
@media (min-width: 800px) {
  .zoomzoom {
    .reference-photos {
      img {
        display: block;
        max-width: 80%;
      }
    }
  }  
}
