---
layout: zoomzoom-index
title: "Zoom Zoom Drawing Club"
---

<img src="/assets/images/zoomzoom/zoom-zoom-logo.png" class="logo invert_dark">


<p>
  Zoom Zoom Drawing Club is for anyone who wants to draw with other people, over Zoom.
  It really is for anyone––you can be a beginner who needs a little bit of encouragement, or a seasoned artist who just wants some company, or someone in between who just wants to draw. All levels are welcomed!
</p>

<p>
  Each drawing club works like this: we gather, I'll share some optional reference photos
  (see examples below), and then we draw for half an hour quietly. After that there's a
  15-minute session for those who want to share their drawings.
  No critiques allowed, clapping is encouraged.
</p>

<p>
  Next session: <strong>Mar 13, <a href="https://everytimezone.com/s/2059fe45">12pm EST</a></strong>
  (<a href="https://creativemornings.com/talks/anyone-can-draw-one-hour-of-free-style-drawing-c8a60df6-f610-40ab-b339-88e20e508583">register here</a>)
</p>

<hr />

{% include zz-newsletter.html %}

<hr />

<h3>Past sessions:</h3>

<ul>
{% for post in site.categories.zoomzoom limit:10 %}
  <li>
    <a href="{{ post.url }}">{{ post.title }}</a>
  </li>
{% endfor %}
</ul>

<div class="footer-symbol"><a href="https://mrshawnliu.com">✌</a></div>